body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    margin-bottom: 5%;
    padding: 0;
}
header{
    text-align: center;
    background-color: white;
    color:black;
    font-size: 150%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    font-weight: 530;
}
img{
    position: absolute;
    cursor: pointer;
}
#melinda2{
    width:20%;
    top:15%;
    left:5%;
}
#horgasz1{
    width: 35%;
    top:22%;
    left:32%;
}
#latengerpart{
    width:20.5%;
    top:15%;
    right:5%;
}
#dubai1{
    width:30%;top:110%;left:5%;
}
#tengerpart{
    width: 34%;top:110%;right:2%
}
#hal{
    width:20.5%;top:100%;left:39%;
}
#madaras{
    width:25%;top:190%;left:5%;
}
#vulkan{
    width: 34%;top:197%;left:37%;
}
#barlangibacsi{
    width:20.5%;top:190%;right:2%;
}
#arnyek2{
    width:20%;top:280%;left:5%;
}
#melinda3{
    width: 20%;top:280%;left:40%
}
#arnyek1{
    width:20%;top:280%;right:5%;
}
#horgasz2{
    width:25%;top:385%;left:5%;
}
#adel3{
    width: 20%;top:370%;left:40%;
}
#dubai3{
    width:23%;top:385%;right:5%;
}
#noswimmin{
    width:30%;top:460%;left:5%;
}
#neni{
    width: 15%;top:461%;left:42%;
}
#szobor{
    width:35%;top:460%;right:2%;
}
.mail{
    width:1.1%;
    display:inline-table;
}
.insta{
    width: 1.1%;
}
.tiktok{
    width: 1.1%;
}
#melinda2_gal{
    width:29%;left:35.5%;
}
#horgasz1_gal{
    width:63%;left:18.5%;
}
#latengerpart_gal{
    width:30%;left:35%;
}
#dubai1_gal{
    width:55%;left:22.5%;
}
#hal_gal{
    width:29%;left:35.5%;
}
#tengerpart_gal{
    width:66%;left:18%;
}
#vulkan_gal{
    width:66%;left:18%;
}
#barlang_gal{
    width:29%;left:35.5%;
}
#arnyek2_gal{
    width:29%;left:35.5%;
}
#melinda3_gal{
    width:29%;left:35.5%;
}
#arnyek1_gal{
    width:29%;left:35.5%;
}
#horgasz2_gal{
    width:66%;left:18%;
}
#adel3_gal{
    width:29%;left:35.5%;
}
#dubai3_gal{
    width:56%;left:22%;
}
#ns_gal{
    width:56%;left:22%;
}
#neni_gal{
    width:29%;left:35.5%;
}
#szobor_gal{
    width:66%;left:18%;
}
#madaras_gal{
    width:37%;left:31.5%;
}

div .row > .column {
    padding: 0 8px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
  /* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 25%;
}
  /* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.808);
}
  /* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin:auto;
    margin-top:1%;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}
  /* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
  /* Hide the slides by default */
.mySlides {
    display: none;
}
  /* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  /* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.918);
}
  /* Number text (1/3 etc) */
.numbertext {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 100%;
    position: absolute;
    margin-top: 46%;
    margin-left: 47.5%;
}
  /* Caption text */
.caption-container {
    text-align: center;
    padding: 2px 16px;
    color: white;
}
img.demo {
    opacity: 0.6;
}
.active,
.demo:hover {
    opacity: 1;
}
img.hover-shadow {
    transition: 0.3s;
}
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


footer{
    position:fixed;
	bottom: 0;
	width: 100%;
	background-color: rgb(88, 87, 87);
	text-align: center;
	font-family:'Courier New', Courier, monospace;
    color:black;
}

p{
    margin-left:5%;
}
.contact{
    margin-top:250%;
}
table{
    width: 80%;
    text-align: center;
    border-color:1px solid white;
    margin-top: 250%;
    margin-right: 5%;
}
td{
    text-align: center;
    border: 1px solid white;
}
.icons{
    width:3%;
    display: inline;
    float: right;
}
#mail{
    width: 23.5%;
}
#insta{
    width: 10%;
}
#tiktok{
    width: 10%;
}

a{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-style: normal;
}

@media only screen and (max-width:768px){
    body{
        margin-bottom:10%;
    }
    div .modal-content{
        margin-top: 10%;
    }
    .numbertext{
        margin-top:110%;
        margin-left:42%;
    }
    footer{
        height: auto;
    }
    img{
        position: absolute;
    }
    #melinda2{
        width:50%;
        top:10%;
        left:25%;
    }
    #horgasz1{
        width:70%;
        top:65%;
        left:15%;
    }
    #latengerpart{
        width:50%;
        top:105%;
        left:25%;
    }
    #dubai1{
        width:70%;
        top:160%;
        left:15%;
    }
    #hal{
        width:50%;
        top:205%;
        left:25%;
    }
    #tengerpart{
        width:70%;
        top:260%;
        left:15%;
    }
    #madaras{
        width:55%;
        top:300%;
        left:22.5%;
    }
    #vulkan{
        width:70%;
        top:350%;
        left:15%;
    }
    #barlangibacsi{
        width:50%;
        top:390%;
        left:25%;
    }
    #arnyek2{
        width:50%;
        top:445%;
        left:25%
    }
    #melinda3{
        width:50%;
        top:500%;
        left:25%;
    }
    #arnyek1{
        width:50%;
        top:555%;
        left:25%;
    }
    #horgasz2{
        width: 70%;
        top:610%;
        left:15%;
    }
    #adel3{
        width: 50%;
        top:650%;
        left:25%;
    }
    #dubai3{
        width:70%;
        top:705%;
        left:15%;
    }
    #noswimmin{
        width: 70%;
        top:750%;
        left:15%;
    }
    #neni{
        width: 50%;
        top:795%;
        left:25%;
    }
    #szobor{
        width: 70%;
        top:850%;
        left:15%;
    }
    #melinda2_gal,#hal_gal,#barlang_gal,#arnyek2_gal,#melinda3_gal,#arnyek1_gal,#adel3_gal,#neni_gal,#latengerpart_gal{
        width:70%;
        left:15%;
    }
    #szobor_gal,#horgasz2_gal,#vulkan_gal,#tengerpart_gal,#horgasz1_gal,#ns_gal{
        width:85%;
        left:7.5%;
        top:30%;
    }  
    #dubai1_gal,#dubai3_gal,#madaras_gal{
        width:80%;
        left:10%;
    }
    .mail{
        width:8%;
        left:32.8%;
        top:886.3%;
        padding-bottom:20%;
    }
    .insta{
        width: 8%;
        left: 45.4%;
        top:885.1%;
    }
    .tiktok{
        width: 8%;
        left:58.7%;
        top:885%;
    }
 
    p{
       margin-left:5%;
    }
    .contact{
        margin-top:1500%;
    }
    table .username{
        display: none;
    }
}
